@tailwind base;
@tailwind components;
@tailwind utilities;
/* pode ter outras coisas abaixo */

@layer base {
  html, body, #root {
    height: 100%;
  }

  body {
    margin: 0;
    @apply bg-slate-900 text-slate-100 font-sans;
  }
}
